:root {
  --board-size: 400px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-with-co {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr 20px;
  grid-template-areas:
    "num-band board"
    ". letter-band";
}

.board {
  grid-area: board;
  height: var(--board-size);
  width: var(--board-size);
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--board-size) / 10), 1fr)
  );
}

.letter-band {
  grid-area: letter-band;
  display: flex;
  width: var(--board-size);
}

.num-band {
  display: flex;
  flex-direction: column;
  grid-area: num-band;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  border: 1px solid black;
}

.coordinate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
