:root {
  --board-size: 300px;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.board-with-co {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr 20px;
  grid-template-areas:
    "num-band board"
    ". letter-band";
}

.board {
  grid-area: board;
  height: var(--board-size);
  width: var(--board-size);
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(var(--board-size) / 10));
}

.letter-band {
  grid-area: letter-band;
  display: flex;
  width: var(--board-size);
}

.num-band {
  display: flex;
  flex-direction: column;
  grid-area: num-band;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  border: 0.5px solid black;
}

.coordinate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.boat {
  background-color: blue;
  border: 2px solid blue;
}

.boat.striked {
  background-color: red;
}

.striked {
  background-color: black;
}
